CLI_PROXY_IMAGE=ghcr.io/router-for-me/cliproxyapi:latest
CLI_PROXY_HOST_PORT=8317
CLI_PROXY_PORT=8317
CLI_PROXY_CONFIG_PATH=./docker/backend/config.yaml
CLI_PROXY_AUTH_DIR=./docker/backend/auth

APP_HOST_PORT=8080
APP_PORT=80
APP_DEFAULT_API_BASE=http://localhost:8317
